In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv("data/train.csv")

# Inspecting the Data

In [5]:
train.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   0.30  Very Good     F     VS2   62.8   56.0  4.29  4.31  2.70    605
1   1   0.34      Ideal     E     SI1   62.6   55.0  4.46  4.49  2.80    565
2   2   0.40  Very Good     D     SI1   60.3   62.0  4.70  4.75  2.85    720
3   3   0.40    Premium     H     VS1   61.8   59.2  4.72  4.74  2.92    793
4   4   0.90  Very Good     D     SI1   61.0   63.0  6.10  6.13  3.73   4381

In [6]:
train.isna().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [8]:
train.dtypes

id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [9]:
train.corr()

,id,carat,depth,table,x,y,z,price
id,1.000000,0.002653,0.002349,-0.006281,0.001529,0.001976,0.004030,0.006826
carat,0.002653,1.000000,0.032379,0.181791,0.974898,0.944513,0.947538,0.922567
depth,0.002349,0.032379,1.000000,-0.297164,-0.020876,-0.025105,0.099375,-0.005105
table,-0.006281,0.181791,-0.297164,1.000000,0.194763,0.181585,0.149242,0.129777
x,0.001529,0.974898,-0.020876,0.194763,1.000000,0.967114,0.965114,0.884089
y,0.001976,0.944513,-0.025105,0.181585,0.967114,1.000000,0.940678,0.858536
z,0.004030,0.947538,0.099375,0.149242,0.965114,0.940678,1.000000,0.855923
price,0.006826,0.922567,-0.005105,0.129777,0.884089,0.858536,0.855923,1.000000

In [30]:
print(train.color.value_counts(),"\n\n",
train.cut.value_counts(),"\n\n",
train.clarity.value_counts())

G    8469
E    7375
F    7179
H    6229
D    5012
I    4088
J    2103
Name: color, dtype: int64

 Ideal        16175
Premium      10272
Very Good     9146
Good          3676
Fair          1186
Name: cut, dtype: int64

 SI1     9813
VS2     9217
SI2     6844
VS1     6150
VVS2    3784
VVS1    2780
IF      1326
I1       541
Name: clarity, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

Ideal        16175
Premium      10272
Very Good     9146
Good          3676
Fair          1186
Name: cut, dtype: int64

In [12]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

SI1     9813
VS2     9217
SI2     6844
VS1     6150
VVS2    3784
VVS1    2780
IF      1326
I1       541
Name: clarity, dtype: int64